* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
.container-score,
.container-input,
form,
.container-name,
.title-container {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

.container-input,
form,
.container-name,
.container-score {
  flex-direction: column;
}

.container {
  align-items: flex-start;
  padding: 1rem 3rem;
}

.unit-score {
  width: 100%;
  padding: 0.5rem;
}

.container-name {
  width: 90%;
}

.unit-score:nth-child(even) {
  background-color: rgb(173, 172, 172);
}
